<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RealTime Compartments Status</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="">RealTime Compartments Status</a>
        </div>
    </nav>
    <section class="features-icons bg-light text-center" style="margin-left:40px">
        <div class="">
            <div class="row">
                {% if error %}
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <p class="card-text"><strong>Error: </strong>{{error}}</p>
                    </div>
                </div>                    
                {% endif %}
                {% for each in allCompartments %}
                {% if each.status %}
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    {% else %}
                    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        {% endif %}
                        <div class="card-header">
                            <h2>{{ each.compartment }}</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Code: </strong>{{each.code}}</p>
                            <p class="card-text"><strong>Box State: </strong>{{each.boxstate}}</p>
                            <!-- <p class="card-text"><strong>Last Seen: </strong>{{each.lastUpdated}}</p>
                            <p class="card-text"><strong>Last Updated: </strong>{{each.time}}</p> -->
                            {% if each.status %}
                            <p class="card-text"><strong>Status: </strong>Live</p>
                            {% else %}
                            <p class="card-text"><strong>Status: </strong>In-Active</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>
</body>
<script>
    function pageReload() {
        window.location.reload();
    }
    setTimeout(pageReload, 10000);
    

</script>

</html>